@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    font-family: 'Inter', sans-serif;
    background-color: black;
  }
  
  h1, h2, h3, h4, h5, h6 {
    font-family: 'Noto Serif', serif;
  }
}

.infinite-scroll-container {
  overflow: hidden;
  position: relative;
}

.scroll-content {
  display: flex;
  gap: 3rem;
  transition: transform 0.1s linear;
}